<UserScriptConfig>
	<Script filename="digg3_ad_remover.user.js" name="Digg3 Ad Remover" namespace="http://www.waxydesign.com" description="Removes the ads on Digg 3.0" enabled="true" basedir="digg3_ad_remover">
		<Include>http://*digg.com/*</Include>
		<Exclude> </Exclude>
	</Script>
	<Script filename="digg_de-link_summaries.user.js" name="Digg de-link summaries" namespace="http://ruhl.in" description="" enabled="true" basedir="digg_de-link_summaries">
		<Include>http://digg.com/*</Include>
	</Script>
	<Script filename="hide_digg_sponsored_entr.user.js" name="Hide Digg Sponsored Entries" namespace="http://daryl.learnhouston.com/userscripts/" description="Remove those irritating sponsored links in Digg's entry list." enabled="true" basedir="hide_digg_sponsored_entr">
		<Include>http*://*digg.com*</Include>
	</Script>
	<Script filename="tweaking_nyt.user.js" name="Tweaking NYT" namespace="NYT" description="Tweaking NYT" enabled="true" basedir="tweaking_nyt">
		<Include>http://www.nytimes.com/</Include>
		<Include>http://*.nytimes.com/*</Include>
		<Include>http://nytimes.com/*</Include>
		<Include>file:///C:/Documents%20and%20Settings/olegalex/Desktop/The%20New%20York%20Times%20-%20Breaking%20News,%20World%20News%20&amp;%20Multimedia.htm</Include>
	</Script>
	<Script filename="strip_digg_announcement.user.js" name="Strip Digg Announcement" namespace="Digg" description="Strip Digg Announcement" enabled="true" basedir="strip_digg_announcement">
		<Include>http://digg.com/</Include>
	</Script>
	<Script filename="diggcom_disable_announce.user.js" name="Digg.com Disable Announcements and Promos" namespace="http://www.sernerdalot.com" description="Disables Announcements and Promos" enabled="true" basedir="diggcom_disable_announce">
		<Include>http://digg.com/*</Include>
		<Include>http://*.digg.com/*</Include>
		<Include>http://*.digg.com/*</Include>
	</Script>
	<Script filename="digg_add_removal_1.user.js" name="Digg add removal 1" namespace="Digg" description="" enabled="true" basedir="digg_add_removal_1">
		<Include>http://digg.com/</Include>
	</Script>
	<Script filename="clean_slashdot.user.js" name="clean slashdot" namespace="Slashdot" description="" enabled="true" basedir="clean_slashdot">
		<Include>http://slashdot.org/</Include>
	</Script>
	<Script filename="local.user.js" name="local" namespace="local" description="local" enabled="true" basedir="local">
		<Include>file:///C:/Documents%20and%20Settings/olegalex/Desktop/The%20New%20York%20Times%20-%20Breaking%20News,%20World%20News%20&amp;%20Multimedia.htm</Include>
	</Script>
	<Script filename="link_labs.user.js" name="Link Labs" namespace="http://programadoresmx.blogspot.com/" description="Nuevo menu para herramientas experimentales de google labs" enabled="true" basedir="link_labs">
		<Include>http://www.google.com/firefox*</Include>
	</Script>
	<Script filename="economist.user.js" name="Economist" namespace="local" description="Tweak Economist" enabled="true" basedir="economist">
		<Include>http://*.economist.com/*</Include>
	</Script>
	<Script filename="block_annoying.user.js" name="block annoying" namespace="local" description="" enabled="true" basedir="block_annoying">
		<Include>http://slashdot.org/</Include>
	</Script>
</UserScriptConfig>