<UserScriptConfig>
	<Script filename="digg3_ad_remover.user.js" name="Digg3 Ad Remover" namespace="http://www.waxydesign.com" description="Removes the ads on Digg 3.0" version="" enabled="true" basedir="digg3_ad_remover" modified="1293383310000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709">
		<Include>http://*digg.com/*</Include>
		<Exclude> </Exclude>
	</Script>
	<Script filename="digg_de-link_summaries.user.js" name="Digg de-link summaries" namespace="http://ruhl.in" description="" version="1.0" enabled="true" basedir="digg_de-link_summaries" modified="1263316970891" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709">
		<Include>http://digg.com/*</Include>
	</Script>
	<Script filename="tweaking_nyt.user.js" name="Tweaking NYT" namespace="NYT" description="Tweaking NYT" version="" enabled="true" basedir="tweaking_nyt" modified="1300987735198" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709">
		<Include>http://*.nytimes.com/*</Include>
		<Include>http://nytimes.com/*</Include>
	</Script>
	<Script filename="strip_digg_announcement.user.js" name="Strip Digg Announcement" namespace="Digg" description="Strip Digg Announcement" version="" enabled="true" basedir="strip_digg_announcement" modified="1263316776734" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709">
		<Include>http*://*digg.com*</Include>
	</Script>
	<Script filename="diggcom_disable_announce.user.js" name="Digg.com Disable Announcements and Promos" namespace="http://www.sernerdalot.com" description="Disables Announcements and Promos" version="1.0.0" enabled="true" basedir="diggcom_disable_announce" modified="1263254518177" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709">
		<Include>http://digg.com/*</Include>
		<Include>http://*.digg.com/*</Include>
	</Script>
	<Script filename="digg_add_removal_1.user.js" name="Digg Ads Remover 1" namespace="diggAdsRemover" description="This userscript removes a large amount of known ads" version="0.1" enabled="true" basedir="digg_add_removal_1" modified="1293898499000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709">
		<Include>http*://*.digg.com*</Include>
		<Include>http*://digg.com*</Include>
	</Script>
	<Script filename="clean_slashdot.user.js" name="Clean Slashdot" namespace="" description="" version="" enabled="true" basedir="clean_slashdot" modified="1264558349881" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709">
		<Include>http://*digg.com/*</Include>
		<Exclude> </Exclude>
	</Script>
	<Script filename="economist.user.js" name="Economist" namespace="local" description="Tweak Economist" version="" enabled="true" basedir="economist" modified="1300987588949" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709">
		<Include>http://*.economist.com/*</Include>
	</Script>
	<Script filename="block_annoying.user.js" name="block annoying" namespace="local" description="" version="" enabled="true" basedir="block_annoying" modified="1268068861798" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709">
		<Include>http://slashdot.org/</Include>
	</Script>
	<Script filename="disable_instant_google_p.user.js" name="Disable instant Google Previews" namespace="http://manu.fun.gg/" description="Disable Google Instant Previews of search resuts." version="1.1" enabled="true" basedir="disable_instant_google_p" modified="1292934351000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709">
		<Include>http://*.google.*/search*</Include>
	</Script>
	<Script filename="diggsponsors.user.js" name="diggSponsors" namespace="http://happyfunball.tv/diggFilter" description="removes sponsored ads" version="" enabled="true" basedir="diggsponsors" modified="1293898637000" dependhash="e8c3db9bef11e9af828798171a532a25173457bc">
		<Include>http://digg.com/*</Include>
		<Require filename="jquerymin.js"/>
	</Script>
	<Script filename="hide_digg_sponsored_entr.user.js" name="Hide Digg Sponsored Entries" namespace="http://daryl.learnhouston.com/userscripts/" description="Remove those irritating sponsored links in Digg's entry list." version="" enabled="true" basedir="hide_digg_sponsored_entr" modified="1293899355000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709">
		<Include>http*://*digg.com*</Include>
	</Script>
</UserScriptConfig>